{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up / Log In</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <input type="text" name="username" placeholder="Username" maxlength="150" autofocus required id="id_username">
            <input type="password" name="password" placeholder="Password" required id="id_password1">
            <button class="formButton">Log In</button>
            <a href="{% url 'reset_password' %}">Forget Password?</a>
        </form>
        <div class="sections">
            <div class="signup">
                <p>Not with us? Sign up Now!</p>
                <button type="button" name="signup" class="outline">Sign Up</button>
            </div>
            <div class="login">
                <p>Already have an account?</p>
                <button type="button" name="login" class="outline">Login</button>
            </div>
        </div>
    </div>
    <script>
        signUpBtn = document.querySelector('button[name="signup"]')
        signUpBtn.addEventListener('click', function() {
            location.href = "{% url 'signup' %}"
        })
    </script>
</body>
</html>