{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up / Log In</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style>
        form {
            left: 40px;
            bottom: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.username }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <button class="formButton">Sign Up</button>
            {{ form.errors }}
        </form>
        <div class="sections">
            <div class="signup">
                <p>Not with us? Sign up Now!</p>
                <button type="button" name="signup" class="outline">Sign Up</button>
            </div>
            <div class="login">
                <p>Already have an account?</p>
                <button type="button" name="login" class="outline">Login</button>
            </div>
        </div>
    </div>
    <script>
        LogInBtn = document.querySelector('button[name="login"]')
        LogInBtn.addEventListener('click', function() {
            location.href = "{% url 'login' %}"
        })
    </script>
</body>
</html>