{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if user.is_admin or user.is_staff %}
        <a class="nav-item nav-link active" href="/">Dashboard <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>
        {% endif %}
      </div>
      <div class="navbar-nav align-items-center">
        <span class="mx-2">{{ request.user }}</span>
        <a href="{% url 'user-settings' %}" class="nav-item nav-link">Settings</a>
        <a href="{% url 'logout' %}" class="nav-item nav-link">Log Out</a>
      </div>
    </div>
  </nav>
<br>